body {
    margin: 0;
    background: #999;
}

.grid {
    display: flex;
    
    &__main {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
    }

    &__column {
        flex: 1;
        width: 100%;
        min-width: 340px;
    }

    &__item {
        margin: 5px;
        background: #f00;

        &:last-child {
            margin-bottom: 0;
        }
    }
}